---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { projects } from '../data/data';
---

<Layout title='Projects'>
  <header class='mt-16 mb-16'>
    <h1 class='font-display text-lead-100 text-4xl font-medium tracking-tight'>
      <span class='flex items-center gap-3'>
        <Icon
          name='streamline-pixel:interface-essential-pacman-loading'
          class='size-10'
        />
        Projects
      </span>
    </h1>
    <p class='text-lead-500 mt-4 max-w-md text-sm leading-relaxed'>
      Just a few things I've been working on, some finished, some barely
      started, and a few just for fun.
    </p>
  </header>

  <section class='mb-32 flex flex-col gap-14'>
    {
      projects.map((project) => (
        <div class='group flex flex-col'>
          <div class='flex items-center justify-between gap-4'>
            <a
              href={project.live || project.github}
              target='_blank'
              rel='noopener noreferrer'
              class='text-lead-200 group-hover:text-accent font-serif text-xl font-medium transition-colors'
            >
              {project.title}
            </a>

            <span
              class='text-lead-500 group-hover:text-lead-100 hidden h-4 grow transition-colors sm:block'
              style='background-image: radial-gradient(circle, currentColor 1px, transparent 1px); background-size: 8px 100%; background-repeat: repeat-x; background-position: center;'
            />

            <div class='flex items-center gap-4'>
              {project.github && (
                <a
                  href={project.github}
                  target='_blank'
                  rel='noopener noreferrer'
                  class='text-lead-500 hover:text-lead-400 transition-colors'
                  title='Source Code'
                >
                  <Icon name='pixel:github' class='size-6' />
                </a>
              )}
              {project.live && (
                <a
                  href={project.live}
                  target='_blank'
                  rel='noopener noreferrer'
                  class='text-lead-500 hover:text-lead-400 transition-colors'
                  title='Live Demo'
                >
                  <Icon name='pixel:external-link' class='size-5' />
                </a>
              )}
            </div>
          </div>

          <p class='text-lead-500 mt-3 max-w-xl text-sm leading-relaxed transition-colors'>
            {project.description}
          </p>

          <div class='mt-4 flex flex-wrap gap-2.5'>
            {project.tags.map((tag) => (
              <span class='text-lead-500 border-lead-700 bg-lead-800/20 rounded-full border px-2.5 py-0.5 text-[10px] font-medium tracking-widest uppercase'>
                {tag}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </section>
</Layout>
